
body, html{
    margin: 0;
    font: 16px "lato", sans-serif;
    color: #777;
    height: 100%;

}

.conteudo{
    color:#777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}

h3{
    text-transform: uppercase;
    color: #111;
    text-align: center;
}

p{
    margin-bottom: 20px;
}
.caixa1, .caixa2, .caixa3, .caixa4{
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.caixa1{
    background-image: url(./img/3.PNG);
}

.caixa2{
    background-image: url(./img/4.PNG);
}

.caixa3{
    background-image: url(./img/1.PNG);
}

.caixa4{
    background-image: url(./img/2.PNG);
}

.conteudo-titulo{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.conteudo-titulo span.titulo{
    color: #fff;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

@media(max-width:450px){
    .caixa1{
        background-image: url(./img/Capturar1.PNG);
        width: 100%;
        height: 100%;
        background-size:none;
    }
    
    .caixa2{
        background-image: url(./img/Capturar2.PNG);
    }
    
    .caixa3{
        background-image: url(./img/Capturar3.PNG);
    }
    
    .caixa4{
        background-image: url(./img/2.PNG);
    }
    
    
}
